* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: yellowgreen;
  margin-top: 20px;
}

h2 {
  margin: 20px 0 10px 100px;
  text-align: center;
  font-size: 32px;
}

div.container {
  width: 800px;
  height: 500px;
  margin: 20px 0 50px 100px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 40%;
  height: 50%;
  background-color: aqua;
  /*transform: rotate(45deg);
  transform: rotate(-30deg);*/
}

.box-1 {
  transform: rotate(40deg);
  transform-origin: 40px 60px;
}

.box-2 {
  transform: rotate(20deg);
}

.translate {
  transform: translate(20px, 40px);
  transform: translateX(50px);
  transform: translateY(30px);
}

.scale:hover {
  transform: scale(1.1, 1.5);
}

.skew:hover {
  transform: skew(20deg, 45deg);
  transform: skewX(20deg);
  transform: skewY(45deg);
}